html {
	background:#505D6E url(./images/world.jpg) no-repeat center center fixed; 
	min-height:100%;
	-webkit-background-size: cover;
	   -moz-background-size: cover;
	     -o-background-size: cover;
	        background-size: cover;
          
}
h1,h2,h3,p{
  color:black;
}

.container-bg{
  background-color: #fff;
  color: black;
}

body {
	background:transparent;
	min-height:100%; 	
	-webkit-font-smoothing: antialiased;
	-webkit-overflow-scrolling: touch;
	line-height: 1.5em;
	font-size:14px;
	color:#fff;
}

.container{
  position: absolute;
  left: 20%;
  top: 20%;
}

body {

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#temp{
  position: relative;
}

#shop{
  position: absolute;
  top: 20%;
  left: 45%;
}

#display-player-stats{
  background-color: #fff;
  float: left;
}